.mainText {
  text-align: center;
  margin: auto;
  width: 1200px;
}
.authButton {
  text-align: center;
  height: 60px;
  width: 330px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  color: white;
  padding: 20px 30px;
  margin: auto;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.authButton:hover {
  background-position: right center;
}
